
<h1>Items</h1>



<div id="items">
  <% @items.each do |item| %>
    <%= render item %>
    <td>
    <% if can? :update, item %>
    <%= link_to 'Edit', edit_item_path(item) %>
    <% end %>
    </td>
    <td>
    <% if can? :destroy, item %>
    <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
    </td>
    <p>
      <%= link_to "Show this item", item %>
    </p>
  <% end %>
</div>


<%= link_to "New item", new_item_path %>

<% if can? :create, Item %>
  <%= link_to 'New Item', new_item_path %>
<% end %>