<h1>New Student</h1>

<%=  form_with model: @student, multiport: true do |form| %>
  <div>
    <%= form.label :first_name %> <br>
    <%= form.text_field :first_name %>
  </div>

  <div>
    <%= form.label :last_name %> <br>
    <%= form.text_field :last_name %>
  </div>

  <div>
    <%= form.label :email %> <br>
    <%= form.email_field :email %>
  </div>
  <div>
    <%= form.label :phone_number %> <br>
    <%= form.number_field :phone_number %>
  </div>
  
<div>
  <%= form.label "Your stream" %> <br>
   <%= form.radio_button :stream, 'PCB'%>PCB <br>
   <%= form.radio_button :stream, 'PCM'%>PCM <br>
   <%= form.radio_button :stream, 'Commerce'%>Commerce <br>
 </div>
 <div>
  <%= form.label :image%> <br>
  <%= form.file_field :image%>
  <div>
    <%= form.label "Are you sure" %>
  <%= form.check_box :confirm%>
    <%= form.submit %>
  </div>
<% end %>