<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <title>MaterialDashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %> 


  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900|Roboto+Slab:400,700" />

  <!-- Nucleo Icons -->
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />

  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>

  <!-- Material Icons -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round" rel="stylesheet">  

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <script async defer src="https://buttons.github.io/buttons.js"></script>

    <%= javascript_importmap_tags %>
  </head>

  <body>

    <%= render template: "shared/dashboard/_side_bar" %>
    
    <main class="main-content border-radius-lg ">
        <!-- Navbar -->

      <%= render template: "shared/dashboard/_top_nav_bar" %>

<!-- End Navbar -->
  
<div class="container-fluid py-4">
      <%= yield %>

</div>


<%= render template: "shared/dashboard/_footer" %>

            

         
       </main>
    

      
<%= render template: "shared/dashboard/_fixed_plugin"%>

  </body>
</html>
